
.w3-tangerine {
    font-family: "Tangerine";
	font-size:5vw;
	font-weight:bold;
	text-transform:uppercase;
	text-align:center;
	color:#9C9A40;
	text-shadow:2px 3px 3px rgba(0, 0, 0, .2);
}
.gallery-container{
	width:92%;
	margin:auto;
}
.gallery-container img{
	display:inline-block;
	width:20vw;
	height:20vw;
	margin: 1%;
	object-fit:cover;
	position:center;
	box-shadow:6px 7px 8px rgba(0, 0, 0, .3);
	border-radius:10%;	
	cursor:pointer;
}
.gallery-container img:hover{
	opacity:.8;
}